h1,
p {
  font-family: Lato;
}

p {
  color: red;
  font-size: larger;
  margin-top: 50px;
  margin-left: 190px;
}

button {
  margin: auto;

  margin-left: 150px;
  text-align: center;
  border-color: green;
  border-width: 20px;
}
